<div  fxLayout="column" fxLayoutAlign=" stretch" style="background: #5631a0" >
  <div id="header" fxFlex="10">
    <app-header></app-header>
  </div>

  <div id="body" fxLayout="row" fxFlex="90" fxLayoutAlign="stretch" >
    <div id="sidebar" fxFlex="10" style="background: rgb(221, 255, 255); height: 100%">
      <app-sidebar></app-sidebar>
    </div>
    <div id="pageContent" fxFlex="90"  style="background: rgb(232, 246, 255); width: 100%;" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



